.album-results {
    align-content: center;
    margin-left: 50px;
}
  
  .album-tiles {
    display: flex;
    flex-wrap: wrap;
  }
  
  .album-tile {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .album-tile:hover {
    transform: scale(1.05);
  }
  
  .album-image {
    max-width: 100%;
    height: auto;
  }