.top{
    display: flex;
    flex-direction: row;
    height: 280px;
}

.gr{
    width: 550px;
}

.recplay{
    width: 500px;
    align-items: center;
}

.recplay img{
  border-radius: 5px;
}

.recently-played-tiles{
  width: 510px;
}

.recently-played-tile{
  margin-top: 10x;
}

.recently-played-tile:hover{
  background-color: #1e1d633a;
}

.AlbumTilen{
  margin-left: 75px;
  font-size: 22px;
  color: white;
}

#album-container {
  width: 1050px;
  height: 265px;
  overflow-x:scroll; 
  overflow-y: hidden;
  scrollbar-color: transparent transparent;
}

.album-tile {
  margin-right: 10px;
}

.cover-art {
  max-width: 100%; 
}

  .maybe{
    margin-left: 50px;
    width:500px;
  }

  .greeting{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 24px;
    color: aliceblue;
  }